*{
    margin: 0%;
    font-family: 'Nunito Sans', sans-serif;
}
body{
margin: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
}

header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 228);
    z-index: 1000; 
    margin: 0;
    height: 3.5rem;
  }

  header .links {
    display: flex;
  }

  header .links img{
    width: 45px;
    height: 32px;
  }

  header .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 150%;
  }
  
  header h2 a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;

  }
  

.main{ 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: url(https://images.pexels.com/photos/7045767/pexels-photo-7045767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 30rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.mainheader h1 {
    font-family: Playfair Display;
    font-size: 42px;
    font-weight: 400;
    color: black;
    text-align: center;
} 

.mainheader h2 {
    font-family: Playfair Display;
    font-weight: 400;
    text-align: center;
}

.featured h2 {
  text-align: center;
  margin-top: 2%;
}

.cards {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .card-img {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }
  .card-body {
    padding: 10px 20px;
  }
  .card-body h2 {
    margin: 10px 0px;
  }
  .card-button {
    display: flex;
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #0077ff;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
  } 

  .card-button:hover {
    background-color: #0004f5;
  }

  a.card-button {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 700;
    color: white;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 228);
    z-index: 1000; 
    margin: 0;
    height: 2.5rem;
  }

  footer p {
    font-size: 120%;
  }

  footer .footerImages {
    display: flex;
   
  }

  footer .footerImages img {
    margin-right: 10px;
  }